@import "tailwindcss";

@theme {
  --color-primary-bg1: #181818;
  --color-primary-bg2: #1f1f1f;
  --color-primary-bg3: #383838;
  --color-primary-bg4: #2d2d2d;
  --color-primary-border: #2b2b2b;
  --color-primary-focus: #007acc;
  --color-primary-text: #cccccc;
}

@keyframes slide-right {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-row {
  animation: slide-right 25s linear infinite;
}
