@import "tailwindcss";

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-row1 {
  animation: slide-left 25s linear infinite;
}

.animate-row2 {
  animation: slide-right 22s linear infinite;
}

.animate-row3 {
  animation: slide-left 19s linear infinite;
}
