@import "tailwindcss";

@keyframes slide-right {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-row {
  animation: slide-right 25s linear infinite;
}
